.parent {
	// background-color: rgba(#f0f0f0, 1);
	background-color: #040404;
	margin: 80px 0px;
	z-index: 1;
	padding: 80px 20px;

	.container {
		z-index: 5;
		max-width: var(--breakpoint-lg);
		margin: 0 auto;
		background-color: #fff;
		padding: 40px;
		border-radius: 2vw;
		box-shadow: 0px 0px 24px 8px rgba($color: #040404, $alpha: 0.05);

		.integrations {
			max-width: 600px;
			margin: 0 auto 20px;

			.title {
				p {
					max-width: 90%;
					margin: 16px auto 20px;
					font-size: 28px;
					font-family: var(--font-space);
					font-weight: 700;
					color: #040404;
				}

				span {
					font-family: var(--font-space);
					max-width: 90%;
					margin: 24px auto 0;
					display: block;
					color: #e56d27;
					font-weight: 700;
					font-size: 16px;
					text-transform: uppercase;
				}
			}
		}

		.types {
			max-width: var(--breakpoint-md);
			margin: 50px auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			.box {
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-end;
				align-items: center;
				padding: 30px;

				.content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.title {
						font-family: var(--font-jost);
						font-weight: 700;
						font-size: 14px;
						padding: 4px 8px;
						color: #e56d27;
						background-color: rgba($color: #e56d27, $alpha: 0.3);
						border: 1px solid rgba($color: #e56d27, $alpha: 0.4);
						border-radius: 4px;
						text-transform: uppercase;
						margin: 16px 0;
						text-align: center;
					}

					.text {
						text-align: center;
						color: #111111;
						line-height: 1.5;
						font-family: var(--font-jost);
					}
				}

				.img {
					img {
						width: 200px;
					}
				}
			}
		}

		.content > div {
			.text {
				width: 90%;
				margin: 0 auto;
				font-size: 20px;
				font-family: var(--font-jost);
				font-weight: 400;
				line-height: 1.5;
				color: #111111 !important;
			}
		}

		.imac {
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 0px 0;
			margin: 20px 0 60px;

			.content {
				max-width: 75%;
				margin: auto;

				.heading_sm {
					font-family: var(--font-space);
					color: #111111;
					font-size: 14px;
					font-weight: 700;
					color: #e56d27;
					text-transform: uppercase;
					margin: 0;
				}

				.text {
					font-family: var(--font-space);
					color: #111111;
					font-size: 24px;
					font-weight: 700;
					margin: 12px 0 0;
				}

				.heading_lg {
					font-family: var(--font-jost);
					color: #111111;
					font-size: 18px;
					line-height: 1.5;
					font-weight: 400;
					margin: 12px 0 20px;
				}

				.heading_md {
					cursor: pointer;
					font-family: var(--font-space);
					font-size: 14px;
					font-weight: 700;
					color: #e56d27;
					padding: 8px 12px;
					border-radius: 4px;
					border: 1px solid rgba($color: #e56d27, $alpha: 0.4);
					max-width: 150px;
					text-align: center;
					background-color: rgba($color: #e56d27, $alpha: 0.3);
				}
			}

			.image {
				padding: 40px 20px;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 85%;
					height: auto;
					margin: 0 auto;
				}
			}
		}

		.cards_container {
			margin-top: 60px;
			margin-bottom: 480px;

			.red {
				background-color: rgba($color: #fde68a, $alpha: 0.6);
			}

			.blue {
				background-color: rgba($color: #a7f3d0, $alpha: 0.6);
			}

			.yellow {
				background-color: rgba($color: #bfdbfe, $alpha: 0.6);
			}

			.orange {
				background-color: rgba($color: #fecaca, $alpha: 0.6);
			}

			.green {
				background-color: rgba($color: #c4b5fd, $alpha: 0.6);
			}

			.cards {
				padding: 50px;
				display: flex;
				flex-direction: column;
				height: 100%;
				position: static;

				.card_container {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;

					.card {
						position: absolute;
						display: grid;
						grid-template-columns: 1fr 1fr;
						// background-color: rgba($color: #e56d27, $alpha: 0.3);
						box-shadow: 0px 0px 15px 5px rgba(#040404, 0.08);
						// border: 1px solid rgba($color: #e56d27, $alpha: 0.4);
						padding: 40px 30px;
						width: 80%;
						height: 420px;
						border-radius: 1vw;
						backdrop-filter: blur(12px);

						.bank {
							color: #040404;
							font-weight: 700;
							font-size: 18px;
						}

						.card_name {
							color: #040404;
							font-weight: 500;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
