.features_container {
	background-color: #040404;
	margin: 80px auto;
	.parallax {
		margin: 44px auto;
		.features_container_text {
			max-width: 600px;
			margin: 0 auto;
			// display: grid;
			// grid-template-columns: 1fr 1fr;

			.title {
				max-width: 90%;
				margin: 0 auto;
				font-size: 28px;
				font-family: var(--font-space);
				font-weight: 700;
				// line-height: 1.5;
				color: #ededed;
				margin-bottom: 12px;

				div {
					display: block;
					color: #e56d27;
					font-weight: 700;
					font-size: 16px;
					text-transform: uppercase;
					margin-bottom: 12px;
				}
			}
		}

		.features_container_text > div {
			.text {
				max-width: 90%;
				margin: 0 auto;
				font-size: 20px;
				font-family: var(--font-jost);
				font-weight: 400;
				line-height: 1.5;
			}
		}
	}

	.grid {
		max-width: 1100px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.grid_item {
			width: 280px;
			height: 280px;
			background-color: #fff;
			-webkit-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.08);
			border-radius: 24px;
			padding: 20px;
			margin: 16px;
			display: flex;
			flex-direction: column;

			img {
				width: 175px;
				height: 175px;
				margin: auto;
			}

			.title {
				margin: 0;
				font-size: 14px;
				background-color: rgba($color: #e56d27, $alpha: 0.2);
				color: #e56d27;
				border: 1px solid rgba($color: #e56d27, $alpha: 0.3);
				padding: 4px 8px;
				border-radius: 4px;
				font-family: var(--font-space);
				font-weight: 700;
				text-transform: uppercase;
				width: max-content;
				line-height: 1;
				margin-bottom: 12px;
			}

			.description {
				margin: 0;
				font-size: 16px;
				font-family: var(--font-jost);
				font-weight: 400;
				color: #040404;
				margin-bottom: 8px;
			}
		}

		&_r1 {
			display: grid;
			grid-template-columns: 1fr 2fr;

			&_c1 {
				display: grid;
				grid-template-rows: 1fr 1fr;

				&_r1 {
					background-color: #e56d27;

					.title {
						// background-color: #93e9be !important;
					}
				}

				&_r2 {
					background-color: #e56d27;

					.title {
						// background-color: #89cff0 !important;
					}
				}
			}

			&_c2 {
				display: grid;
				grid-template-rows: 1fr 1fr;

				&_r1 {
					display: grid;
					grid-template-columns: 1fr 1fr;
					background-color: 1fr 1fr;
				}

				&_r2 {
					display: grid;
					grid-template-columns: 1fr 1fr;

					&_c1 {
						// color: #ffff00;
						border: 1px solid #e56d276a;
						background-color: #111111 !important;
						justify-content: center !important;
						align-items: center !important;
						-webkit-box-shadow: inset 0px 0px 28px 10px rgba(255, 255, 255, 0.2);
						box-shadow: inset 0px 0px 40px 8px #e56d2771 !important;
						// z-index: 5 !important;
					}

					&_c2 {
						.title {
							// background-color: #ff944d !important;
						}
					}
				}
			}
		}

		&_r2 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			&_c1 {
				.title {
					// background-color: #e6e6fa !important;
				}
			}

			&_c2 {
				.title {
					// background-color: #ff8a80 !important;
				}
			}
		}

		.grid_logo {
			height: auto;
			border: 1px solid #e56d276a;
			background-color: #111111 !important;
			justify-content: center !important;
			align-items: center !important;
			-webkit-box-shadow: inset 0px 0px 28px 10px rgba(255, 255, 255, 0.2);
			box-shadow: inset 0px 0px 40px 8px #e56d2771 !important;
		}

		.special_two {
			display: flex;
			flex-direction: row;
			position: relative;
			overflow: hidden;
			font-size: 24px;
			font-family: var(--font-space);
			font-weight: 700;
			z-index: 1;
			// width: unset;
			// text-align: left;

			img {
				width: 50%;
				height: auto;
			}
		}
	}
}
