@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jost:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
/* styles/global.css */
:root {
	/* Breakpoints */
	--breakpoint-xs: 480px; /* Extra small devices (phones) */
	--breakpoint-sm: 768px; /* Small devices (tablets) */
	--breakpoint-md: 992px; /* Medium devices (desktops) */
	--breakpoint-lg: 1200px; /* Large devices (large desktops) */

	/* Color Palette */
	--primary-color: #0070f3;
	--background-color: #f0f0f0;
	--text-color: #333;
	--link-color: #0366d6;
	--link-hover-color: #023e8a;

	/* Typography */
	/* --font-jost: "Jost", sans-serif; */
	--font-jost: "Jost", sans-serif;

	--font-space: "Space Grotesk", sans-serif;
	--font-bungee: "Bungee Shade", sans-serif;

	--font-size-base: 16px;
	--font-size-large: 20px;
	--font-size-small: 12px;

	--heading-font-family: "Georgia", serif;

	/* Typography Enhancements */
	--font-weight-normal: 400;
	--font-weight-bold: 500;
	--font-weight-bolder: 700;
	--line-height: 1.5;
	--heading-line-height: 1.3;
	--letter-spacing-wide: 0.05em;

	/* Spacing */
	--space-xs: 8px;
	--space-sm: 16px;
	--space-md: 24px;
	--space-lg: 32px;
	--space-xl: 40px;

	/* Borders */
	--border-radius: 8px;
	--border-color: #ccc;

	/* Shadow */
	--box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
