.header {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.8em;

		.nav_items {
			position: relative;

			.nav_data_container {
				position: absolute;
				border-radius: 16px;
				width: 100%;
				margin-top: 12px;

				p {
					padding: 20px;
					font-family: var(--font-jost);
				}
			}

			button {
				margin: 0 var(--space-sm);
				background: transparent;
				border: none;

				a {
					font-size: var(--font-size-base);
					text-decoration: none;
					color: #ededed;
					font-family: var(--font-space);
				}
			}
		}

		.cta_container {
			button {
				background: transparent;
				padding: var(--space-xs) var(--space-sm);
				border: none;
			}

			a {
				font-size: var(--font-size-large);
				color: #ededed;
				font-weight: var(--font-weight-bold);
				font-family: var(--font-space);
			}
		}
	}
}
