.partners_container {
	background-color: #000;
	color: #fff;

	.parent {
		display: grid;
		grid-template-columns: 2fr 3fr;

		.parallax_scroll_container {
			background-color: #000;
			display: flex;
			flex-direction: column;
			gap: 1.2vw;
			padding: 1.5vw 0;
			// padding: 5vw 16px;
			overflow: hidden;

			.row_container {
				display: flex;
				gap: 1vw;
				margin-right: 1vw;

				.card_container {
					.card {
						min-height: 33vh;
						border: 1px solid;
						color: #fff;
						border-radius: 1vw;
						border: 1px solid black;
						height: 100%;
						width: 30vw;
						display: flex;
						flex-direction: column;

						.image_container {
							position: relative;
							height: 33vh;
							width: 100%;

							.img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								border-radius: 1vw;
							}
						}

						.content_container {
							padding: 16px 20px 0;
							display: flex;
							flex-direction: column;
							height: 100%;
							justify-content: space-between;

							.title {
								font-family: "Syne", sans-serif;
								font-weight: 700;
								margin-bottom: 8px;
							}

							.description {
								font-family: "Jost", sans-serif;
								line-height: 1.5;
								font-size: 14px;
								font-weight: 500;
								color: rgba($color: #000, $alpha: 0.7);
							}
						}
					}
				}
			}
		}

		.parallax {
			// height: 150vh;
			margin-bottom: 10vh;

			.vacation_container_text {
				max-width: 85%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;

				.title {
					margin-bottom: 0.5em;
					font-size: 30px;
					font-family: var(--font-space);
					font-weight: 800;
					line-height: 1.3;
					margin-bottom: 1.5em;
					color: #96def4;
				}

				.text {
					margin: 0;
					font-size: 22px;
					font-family: var(--font-jost);
					font-weight: 400;
					line-height: 1.5;
					margin-bottom: 1.5em;
					color: #bcbcbc;
				}

				button {
					cursor: pointer;
				}

				.button {
					background-color: #007295;
					width: 35%;
					font-family: var(--font-space);
					font-weight: 800;
					// color: #f77d2c;
					font-size: 16px;
					padding: 14px 12px;
					border-radius: 0.5vw;
					border: none;
					color: #96def4;
					cursor: pointer;
					margin-right: 16px;
				}

				.know {
					background-color: #00729522;
					width: 35%;
					font-family: var(--font-space);
					font-weight: 800;
					color: #007295;
					font-size: 16px;
					padding: 14px 12px;
					border-radius: 0.5vw;
					border: none;
					// color: #96def4;
					cursor: pointer;
				}
			}
		}
	}
}
