.footer_container {
	padding: 48px var(--space-md);
	overflow: hidden;
	position: relative;
	color: #fff;
	background-color: #040404;

	@media (max-width: 800px) {
		padding: 28px var(--space-md);
	}

	.footer_logo {
		position: absolute;
		bottom: -5%;
		cursor: pointer;
		padding: 0 16px;

		@media (max-width: 600px) {
			bottom: -2%;
			padding: 0;
		}
	}

	.footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 25%;

		@media (max-width: 600px) {
			display: flex;
			flex-direction: column;
		}

		.about {
			max-width: 80%;

			@media (max-width: 600px) {
				max-width: 100%;
			}

			p {
				margin: 0;
				margin-bottom: 24px;
				line-height: 1.5;
				font-weight: 400;
				font-size: 20px;
				font-family: var(--font-jost);

				@media (max-width: 800px) {
					font-size: 16px;
				}

				.name {
					font-family: var(--font-space);
					font-weight: 600;
					color: #e56d27;
				}
			}

			.meaning {
				font-size: 16px;
				font-weight: 600;
				font-family: var(--font-space);
				margin-bottom: 0px;
				width: 80%;

				span {
					color: #e56d27;
					text-decoration: underline;
				}
			}
		}

		.links {
			display: grid;
			grid-template-columns: 1fr 1fr;
			@media (max-width: 600px) {
				display: flex;
				flex-direction: column;
			}

			.column {
				p {
					text-align: right;
					margin: 0 12px;
					font-family: var(--font-space);
					font-weight: 600;
					margin-bottom: 16px;
					text-transform: uppercase;

					@media (max-width: 600px) {
						text-align: left;
						margin: 28px 0;
						text-decoration: underline;
					}
				}

				.link_container {
					margin: 12px;
					display: block;
					margin-bottom: 16px;
					text-decoration: none;
					text-align: right;

					@media (max-width: 600px) {
						text-align: left;
						margin: 16px 0;
					}

					.link {
						padding: 0;
						background: transparent;
						border: none;
						font-family: var(--font-jost);
						color: #ededed;
						font-size: 16px;
						cursor: pointer;
						transition: 0.3s ease all;
					}

					&:hover .link {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
